@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Sans:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Stack+Sans+Headline:wght@200..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Momo Trust Sans", sans-serif;
}
.container {
    max-width: 1100px;
    margin: auto;
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style: none;
}
.btn {
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
}
/*header start*/
header {
    background: url("home_bg.jpg") center center/cover no-repeat;
    height: 100vh;
    position: relative;
}
header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}
header * {
    z-index: 10;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar img {
    width: 80px;
    margin-left: 100px;
}
#navbar ul {
    display: flex;
    margin-right: 100px;
    gap: 20px;
}
#navbar ul li a {
    color: #fff;
    font-weight: 600;
}
#navbar ul li a:hover {
    border-bottom: 2px solid orange;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}
.content h1 {
    font-size: 35px;
    color: #fff;
}
.text1 {
    color: orange;
}
.content p {
    color: #fff;
    margin: 20px 0 40px;
}
.btn1 {
    border: solid 1px #fff;
}
/*about start*/
#about {
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}
#about .title {
    text-align: center;
    margin-bottom: 4rem;
}
#about h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #383848;
}
#about .title p {
    font-weight: 600;
    font-size: 14px;
    color: gray;
}
#about .about-content {
    display: flex;
    justify-content: space-between;
}
#about .about-content p {
    color: gray;
    margin-right: 7rem;
    line-height: 1.5;
    font-weight: 500;
}
#about .about-content img {
    width: 450px;
}
.btn2 {
    color: #fff;
    background: #383848;
    margin-top: 2rem;
}
/*offer start*/
#offers {
    height: 95vh;
    background: url("offer-background.jpg") center center/cover fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#offers .title {
    text-align: center;
    margin-bottom: 4rem;
}
#offers h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: orange;
}
#offers .title p {
    color: #fff;
    font-weight: 500;
}
#offers .offers-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#offers .offers-items img {
    width: 200px;
}
#offers .offers-items h3 {
    font-size: 25px;
    color: #fff;
    margin: 15px 0;
}
#offers .offers-items p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
    padding: 0 20px;
    font-weight: 300;
}
#offers .offers-items span {
    font-size: 18px;
    margin-left: 5px;
    font-weight: 600;
}
/*menu start*/
#menu{
    background-color: #f4f4f4;
    padding: 5rem 0;
}
#menu .title {
    text-align: center;
    margin-bottom: 4rem;
}
#menu h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #383848;
}
#menu .title p {
    color: gray;
    font-weight: 500;
}
#menu .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu .menu-items .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
#menu .menu-items .menu-item img {
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
#menu .menu-items .menu-item h3{
    color: #383848;
    border-bottom: 1px dashed #c2bdbd;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}
#menu .menu-items .menu-item span{
    position:absolute;
    top: 0; right: 0;
}
#menu .btn{
    background-color: #e4b95b;
    color: #fff;
    display: block;
    margin: 20px auto 0;
    cursor: pointer;
}
/*daytime start*/
#daytime {
    background: url("daytime_bg.jpeg") center center/cover 
    fixed no-repeat;
    color: #fff;
    text-align: center;
}
#daytime .daytime-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
}
#daytime .daytime-items h3 {
    font-size: 32px;
    margin: 20px 0 10px;
}
#daytime .daytime-items p {
    font-weight: 500;
}
/*gallery start*/
#gallery {
    background: url("offer-background.jpg") center center/cover;
    padding: 8rem 0 6rem;
}
#gallery h2 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
#gallery .img-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#gallery .img-gallery img {
    margin: 20px;
    width: 250px;
    height: 200px;
    border-radius: 15px;
    opacity: 0.8;
}
#gallery .img-gallery img:hover {
    opacity: 1;
}
/*contact start*/
#contact {
    background: #f4f2ed;
    padding: 5rem 0;
}
#contact .container {
    max-width: 900px;
}
#contact .contact-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#contact .contact-info {
    width: 50%;
}
#contact .contact-info div {
    margin: 30px 0;
    line-height: 1.7;
}
#contact .contact-info h3 {
    font-size: 28px;
    color: #383848;
    margin-bottom: 10px;
}
#contact .contact-info p {
    color: gray;
}
#contact .contact-info p i {
    color: orange;
    margin-right: 5px;
}
#contact .contact-info a i {
    color: #fff;
    background-color: #383848;
    padding: 5px;
    font-size: 20px;
    border-radius: 50%;
}
#contact .contact-info a i:hover {
    background-color: orange;
    color: #383848;
}
#contact form {
    width: 50%;
}
form input,textarea{
    display: block;
    padding: 20px 15px;
    margin: 20px 0;
    width: 100%;
    border: none;
    background-color: #e3e2dd;
}
#contact .btn{
    background: orange;
    color: #fff;
    cursor: pointer;
}
#contact .btn:hover{
    background-color: #383848;
}
/* Footer Start */
#footer {
    background-color: #383848;
    text-align: center;
    color: #fff;
    padding: 15px 0;
    font-size: 14px;
}

/*responsive*/
@media (max-width: 1000px) {
#navbar img {
    margin-left: 20px;
}
nav ul {
    margin-right: 20px;
}
nav ul li a {
    padding: 10px;
}
header .content h1 {
    font-size: 28px;
}
#about {
    height: auto;
    padding: 4rem 2rem;
}
#about .about-content p {
    margin-right: 2rem;
}
#about img {
    width: 250px;
}
#offers .offers-items img {
    width: 150px;
}
#offers .offers-items h3 {
    font-size: 18px;
}
#menu .menu-items {
    display: block;
}
#contact .contact-content {
    flex-direction: column;
}}


@media (max-width: 600px) {
#navbar {
    flex-direction: column;
}
#navbar img {
    margin-bottom: 20px;
}
header .content h1 {
    font-size: 18px;
}
header .content p {
    font-size: 14px;
}
#about .about-content {
    flex-direction: column;
}
#about .about-content a {
    margin: 2rem 0;
}
#about img {
    display: none;
}
#offers {
    height: auto;
    padding: 30px 10px;
}
#offers .offers-items {
    flex-direction: column;
}
#menu .menu-items .menu-item {
    margin: 20px 10px;
}
#daytime .daytime-items {
    display: block;
    height: auto;
    padding: 30px 0;
}
#daytime .daytime-items .daytime-item {
    margin-top: 20px;
}
#contact .contact-info,form {
    width: 80%;

}}
